body {
    background-color: rgb(25, 71, 87) !important;
    height: 500px;
    width: 250px;
    background-image: url("https://i.pinimg.com/originals/cf/e3/8d/cfe38d2d6817aa4c28856387feb4369b.jpg");
    background-size: cover;

}
#bod{
  background-color:antiquewhite;
}
:any-link {
  color: rgb(0,137,218) !important;
}
@font-face {
}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
  cursor: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Mano_cursor.svg/1200px-Mano_cursor.svg.png"), auto !important;
}* {
  cursor: url("https://www.freeiconspng.com/thumbs/cursor-png/white-mouse-cursor-arrow-by-qubodup-11.png"), auto !important;
}
#wm-ipp-base{
  display: 'none' !important;
  visibility:hidden;
  height:0
}

/*
chrome.runtime.getURL("assets/cursor.png")
chrome.runtime.getURL("assets/hand.png")
*/